<template name="Plan">
  <div class="col s12">
    <p>
      {{#if isEditablePlan}}
        <a class="btn-flat waves-effect primary_txt" href="/plans"><i class="material-icons left">arrow_back</i>
          Annuler</a>
        <a class="btn-flat waves-effect primary_txt" id="save_new_plan"><i class="material-icons left">save</i>
          Enregistrer</a>
      {{else}}
        <a class="btn-flat waves-effect primary_txt" href="/plans"><i class="material-icons left">arrow_back</i>
          Retourner à la liste</a>
        <a class="btn-flat waves-effect primary_txt" id="edit_plan"><i class="material-icons left">edit</i>
          Modifier</a>
        {{#if currentUser.profile.trainer}}
          <a class="btn-flat waves-effect primary_txt modal-trigger" href="#delete_plan"><i
                  class="material-icons left">delete</i> SUPPRIMER</a>
        {{/if}}
      {{/if}}
    </p>
    <div class="white-text mt10pm relative">
      <span class="absolute topright mt20p chip white">
        Durée totale : {{dispDuration totalDuration}}
      </span>
      {{#if isEditablePlan}}
        <form class="w100per">
          <div class="row">
            <div class="col s12">
              <p class="mt5pm">
                {{#if isNew}}
                <span class="light" style="font-size:50px; opacity: 0.7">Semaine du </span>
              <div class="input-field inline-block">
                <input id="monday_date" type="date" class="light datepicker" style="width: 300px; font-size: 50px; padding-bottom: 15px">
              </div>
                {{else}}
                <span class="light" style="font-size:50px">Semaine du {{moFormat sessionMondayDate 'DD/MM/YYYY' }}</span>
                {{/if}}
              </p>
            </div>
            <div class="col s6 mt10pm">
              <p>
              <div class="input-field">
                <input id="description" type="text" value="{{sessionTitle}}" placeholder="Description rapide...">
              </div>
              </p>
            </div>
          </div>

        </form>
      {{else}}
        <p class="hide-on-med-and-up">Débute le lundi {{moFormat monday_date 'DD/MM/YYYY'}}</p>
        <span class="light" style="font-size:50px">Semaine du {{moFormat monday_date 'DD/MM/YYYY' }}</span>
        <p class="hide-on-small-only f18p mt5pm secondary_text_color_dark">
          {{title}}
        </p>
      {{/if}}
    </div>
  </div>


  {{#if isEditablePlan}}
    {{#each daysOfWeek}}
      <div class="col s12 m6 l4">
        {{> PlanDayInput }}
      </div>
    {{/each}}
  {{else}}
  {{#each days}}
    <div class="col s12 m6 l4">
      {{> PlanDay day=@index type=this.type support=this.support duration=this.duration description=this.description comments=this.comments}}
    </div>
  {{/each}}

  {{/if}}




  <div id="delete_plan" class="modal">
    <div class="modal-content">
      <h4>Voulez-vous vraiment supprimer ce plan ?</h4>
      <p>CETTE ACTION EST IRREVERSIBLE ET SUPPRIMERA LE PLAN <span class="plid">{{_id}}</span></p>
    </div>
    <div class="modal-footer">
      <a class=" modal-action modal-close waves-effect waves-green btn-flat">Annuler</a>
      <a id="delete_btn"
         class=" modal-action modal-close waves-effect waves-red btn-flat red-text">Supprimer</a>
    </div>
  </div>

  <script>
    function populate_week_range_options(start_week_date, todays_date){
      var week_commencing_dates = [];
      var first_monday_date = new Date(2012, 7-1, 2);
      week_commencing_dates.push(first_monday_date);

      while(start_week_date < todays_date){
        var next_date = start_week_date.setDate(start_week_date.getDate() + 1);
        var next_days_date = new Date(next_date);
        var day_index = next_days_date.getDay();
        if(day_index == 1){
          week_commencing_dates.push(next_days_date);
        }
        start_week_date = new Date(next_date);
      }

      return week_commencing_dates;
    }

    $(document).ready(() => {
      $('.modal-trigger').leanModal();
      var today = new Date();
      let mon = populate_week_range_options(new Date(today.getFullYear(),today.getMonth(),1), new Date(today.getFullYear() + 1,12,31));
      mon.unshift(true);

      $('.datepicker').pickadate({
        selectMonths: true,
        selectYears: 15,
        today: 'auj.',
        clear: 'effacer',
        firstDay: 1,
        disable: mon
      });
    });
  </script>

</template>
