<template name="Settings">
  <div class="col s12 m6">
    <div class="card" style="z-index:99">
      <div class="card-content">
        <span class="card-title">Mon profil</span>
        <p>Nom d'utilisateur : @{{currentUser.username}}</p>
        <p> Nom complet : {{currentUser.profile.complete_name}}
          <a class="modal-trigger" href="#change_complete_name"><i class="material-icons tiny accent_txt">edit</i></a>
        </p>
        <p> Changer de mot de passe
            <a class="modal-trigger" href="#change_pwd"><i class="material-icons tiny accent_txt">edit</i></a>
        </p>
        <p> Poids : {{currentUser.profile.weight}} kg
          <a class="modal-trigger" href="#change_weight"><i class="material-icons tiny accent_txt">edit</i></a>
        </p>
        <p> Taille : {{currentUser.profile.height}} cm
          <a class="modal-trigger" href="#change_height"><i class="material-icons tiny accent_txt">edit</i></a>
        </p>
        {{#if currentUser.services.strava}}
          <p>Utilisateur Strava : <a target="_blank"
                                     href="https://www.strava.com/athletes/{{currentUser.services.strava.id}}">Profil</a>
          </p>
        {{/if}}
      </div>
    </div>
  </div>


  <div class="col s12 m6">
    <div class="card">
      <div class="card-content">
        {{#if currentUser.profile.trainer}}
          <span class="card-title">Mes athletes</span>
          <a class="modal-trigger btn-flat" href="#search_athlete_modal"><i
                  class="material-icons tiny accent_txt left">add</i>Ajouter un athlete</a>
          <ul class="collection">
            {{#each athletes}}
              <li class="collection-item">
                <div>{{username}}<a class="secondary-content rmv_athlete_button"><i
                        class="material-icons">delete</i></a>
                </div>
              </li>
            {{/each}}
          </ul>
        {{else}}
          <span class="card-title">Mon entraineur</span>
          <p>
            {{trainer}}
            <a class="modal-trigger" href="#search_trainer_modal"><i
                    class="material-icons tiny accent_txt">edit</i></a>
          </p>
        {{/if}}
      </div>
    </div>
  </div>


  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <span class="card-title">A propos</span>
        <p>Actuellement en version de test, il se peut que vous rencontriez des bugs.
          Merci de les signaler à l'adresse suivante : pierrejacquier39@gmail.com
          <br>
          Pierre Jacquier - 2015. Tous droits réservés.
        </p>
      </div>
    </div>
  </div>


  <div id="search_trainer_modal" class="modal search_modal">
    <div class="modal-content">
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">search</i>
              <input id="trainer_search" placeholder="{{trainer}}" type="text" class="validate">
              <label class="active" for="trainer_search">Rechercher un entraineur</label>
            </div>
          </div>
        </form>
      </div>
      <div class="row">
        {{#each trainersWhoMatch}}
          {{> TrainersSearchResult}}
        {{/each}}
      </div>
    </div>
  </div>

    <div id="change_height" class="modal">
        <div class="modal-content">
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="new_height" value="{{currentUser.profile.height}}" type="text" class="validate">
                            <label class="active" for="new_height">Changer votre taille en cm</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <a id="n_height_submit"
               class=" modal-action modal-close waves-effect waves-cyan accent_txt btn-flat">Modifier</a>
            <a class=" modal-action modal-close waves-effect waves-cyan btn-flat">Annuler</a>
        </div>
    </div>


    <div id="change_pwd" class="modal">
        <div class="modal-content">
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">security</i>
                            <input id="new_pwd" value="" type="password" class="validate">
                            <label class="active" for="new_pwd">Changer votre mot de passe</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <a id="n_pwd_submit"
               class=" modal-action modal-close waves-effect waves-cyan accent_txt btn-flat">Modifier</a>
            <a class=" modal-action modal-close waves-effect waves-cyan btn-flat">Annuler</a>
        </div>
    </div>


  <div id="change_weight" class="modal">
    <div class="modal-content">
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">account_circle</i>
              <input id="new_weight" value="{{currentUser.profile.weight}}" type="text" class="validate">
              <label class="active" for="new_weight">Changer votre poids en kg</label>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <a id="n_weight_submit"
         class=" modal-action modal-close waves-effect waves-cyan accent_txt btn-flat">Modifier</a>
      <a class=" modal-action modal-close waves-effect waves-cyan btn-flat">Annuler</a>
    </div>
  </div>

  <div id="change_complete_name" class="modal">
    <div class="modal-content">
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">account_circle</i>
              <input id="new_complete_name" value="{{myName}}" type="text" class="validate">
              <label class="active" for="new_complete_name">Changer de nom complet</label>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <a id="n__submit"
         class=" modal-action modal-close waves-effect waves-cyan accent_txt btn-flat">Modifier</a>
      <a class=" modal-action modal-close waves-effect waves-cyan btn-flat">Annuler</a>
    </div>
  </div>
</template>
