<template name="Settings">
    <div class="col s12">
        <div class="card" style="padding:10px;z-index:99">
            <div class="row">
                <div class="col s12">
                    <h4>Paramètres</h4>
                    <h5>Mon profil</h5>
                    <p>Nom d'utilisateur : {{currentUser.username}}</p>
                    <p> Nom complet : {{currentUser.profile.complete_name}}
                        <a class="modal-trigger" href="#change_complete_name"><i class="material-icons tiny accent_txt">edit</i></a>
                    </p>
                    {{#if currentUser.services.strava}}
                    <p>Utilisateur Strava : <a target="_blank" href="https://www.strava.com/athletes/{{currentUser.services.strava.id}}">Profil</a></p>
                    {{/if}}
                    {{#if currentUser.profile.trainer}}
                        <h5>Mes athletes</h5>
                        <a class="modal-trigger btn-flat" href="#search_athlete_modal"><i class="material-icons tiny accent_txt left">add</i>Ajouter un athlete</a>
                        <ul class="collection">
                            {{#each athletes}}
                                <li class="collection-item"><div>{{username}}<a href="#!" class="secondary-content rmv_athlete_button"><i class="material-icons">delete</i></a></div></li>
                            {{/each}}
                        </ul>
                    {{else}}
                        <h5>Mon entraineur</h5>
                        <p>
                            {{trainer}}
                            <a class="modal-trigger" href="#search_trainer_modal"><i class="material-icons tiny accent_txt">edit</i></a>
                        </p>
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="card" style="padding:10px;z-index:99">
            <div class="row">
                <div class="col s12">
                    <h5>A propos</h5>
                    <p>Actuellement en version de test, il se peut que vous rencontriez des bugs.
                        Merci de les signaler à l'adresse suivante : pierrejacquier39@gmail.com
                        <br>
                        Pierre Jacquier - 2015. Tous droits réservés.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="search_trainer_modal" class="modal search_modal">
        <div class="modal-content">
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">search</i>
                            <input id="trainer_search" placeholder="{{trainer}}" type="text" class="validate">
                            <label class="active" for="trainer_search">Rechercher un entraineur</label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row">
                {{#each trainersWhoMatch}}
                    {{> TrainersSearchResult}}
                {{/each}}
            </div>
        </div>
    </div>
    <div id="search_athlete_modal" class="modal search_modal">
        <div class="modal-content">
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">search</i>
                            <input id="athlete_search" placeholder="..." type="text" class="validate">
                            <label class="active" for="athlete_search">Rechercher un athlete</label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row">
                {{#each athletesWhoMatch}}
                    {{> AthletesSearchResult}}
                {{/each}}
            </div>
        </div>
    </div>
    <div id="change_complete_name" class="modal">
        <div class="modal-content">
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="new_complete_name" value="{{myName}}" type="text" class="validate">
                            <label class="active" for="new_complete_name">Changer de nom complet</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" id="n_name_submit"
               class=" modal-action modal-close waves-effect waves-cyan accent_txt btn-flat">Modifier</a>
            <a href="#!" class=" modal-action modal-close waves-effect waves-cyan btn-flat">Annuler</a>

        </div>
    </div>
</template>
