<template name="AthleteLine">
    <li class="collection-item"><div>{{username}}<a  class="secondary-content"><i class="material-icons modal-trigger" href="#modal{{username}}">delete</i></a></div></li>

    <div id="modal{{username}}" class="modal">
        <div class="modal-content">
          <h4>Voulez-vous vraiment supprimer {{username}} de vos sportifs ?</h4>
          <p>Vous pourrez le rajouter par la suite</p>
        </div>
        <div class="modal-footer">
          <a  class=" modal-action modal-close waves-effect waves-green btn-flat">Annuler</a>
          <a  class=" modal-action modal-close waves-effect waves-red btn-flat red-text">Supprimer</a>
        </div>
    </div>
</template>
