<template name="MyAthletes">
  {{> Nav page="Mes athletes" color="blue-grey"}}

<div class="container">

    {{#if currentUser}}
    <ul class="collection with-header">
        <li class="collection-header"><h4>Mes athletes</h4></li>
        {{#each athletes}}
        <li class="collection-item"><div>{{username}}<a href="#!" class="secondary-content rmv_athlete_button"><i class="material-icons">delete</i></a></div></li>
        {{/each}}
      </ul>
    <ul class="collection with-header">
        <li class="collection-header"><h4>Ajouter d'autres athletes</h4></li>
        {{#each otherathletes}}
        <li class="collection-item"><div>{{username}}<a class="secondary-content add_athlete_button"><i class="material-icons">add</i></a></div></li>
        {{/each}}
      </ul>
    {{/if}}

</div>

  <script type="text/javascript">

 $(".button-collapse").sideNav();
  $(document).ready(function(){
    $('.modal-trigger').leanModal();
  });
    $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15 // Creates a dropdown of 15 years to control year
  });
        $(document).ready(function(){
    $('ul.tabs').tabs();
  });

    </script>
</template>
