// If you want to override materialize sass variables you can uncomment the following:
@import "{poetic:materialize-scss}/sass/components/_color.scss";
$primary-color: color("light-blue", "base") !default;
$primary-color-light: false !default;
$primary-color-dark: false !default;
@if not $primary-color-light {
  $primary-color-light: lighten($primary-color, 15%);
}
@if not $primary-color-dark {
  $primary-color-dark: darken($primary-color, 15%);
}
$secondary-color: color("pink", "lighten-1") !default;
$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;
$primary_txt: #FFFFFF;

$link-color: color("light-blue", "darken-1") !default;
$card-link-color: $secondary-color;
$tabs-underline-color: #fff;
$grey-color: #37474f;


input[type=range] + .thumb {
  position: absolute;
  border: none;
  height: 0;
  width: 0;
  border-radius: 50%;
  top: 10px;
  margin-left: -6px;
  display: none;


  .value {
    display: none;
    width: 30px;
    text-align: center;
    font-size: 0;
  }

  &.active {
    border-radius: 50% 50% 50% 0;
    display: none;

    .value {
      margin-left: -1px;
      display: none;
      margin-top: 8px;
      font-size: 10px;
    }
  }
}

.modal {
    width: 75%;
}


// import main scss file
@import "{poetic:materialize-scss}/sass/materialize.scss";

.primary_bg {
    background: $primary-color;
}

.primary_txt {
    color: $primary-txt;
}

.accent_bg {
    background: $secondary-color;
}

.accent_txt {
    color: $secondary-color;
}

.grey_bg {
    background: $grey-color;
}

.grey_bg {
    color: $grey-color;
}

#iron-router-progress {
    background-color: $secondary-color;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#iron-router-progress.spinner:before {
    display: none;
}

.side_item:hover span, .side_item:hover i{
  color: $secondary-color;
}