<template name="Dashboard">
  {{> Nav page="Dashboard" color="blue-grey"}}

    <div id="side_nav" class="hide-on-small-only">
        <ul class="hide-on-med-and-down">
            {{> SideNav dashboard=true workouts=false plans=false calendar=false
            analysis=false settings=false}}
        </ul>
    </div>

    <div class="row" style="padding-top:90px">
    {{#if currentUser}}

    <div class="col l2 hide-on-med-and-down ">
        <h5> </h5>

    </div>

    <div class="col l10 s12 m12 scroll ">
        <div class="dash_container">
        {{#if trainerIs}}
            {{> UserDash username=selectedAthlete graphs_are_not_here=true}}
        {{else}}
            {{> UserDash username=currentUser.username graphs_are_not_here=true}}
        {{/if}}


        </div>
    </div>
    {{/if}}
    </div>

  <script type="text/javascript">
Chart.defaults.global.responsive = true;
$(".button-collapse").sideNav();
$('.datepicker').pickadate({
    selectMonths: true,
    selectYears: 15
});
$(document).ready(function(){
   $('ul.tabs').tabs();
  });


    </script>
</template>
