<template name="WorkoutGraphs">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Analyse .FIT</span>
        <form style="display: inline-block;float: right" action="#">
          <p style="display:inline-block">
            <input name="x_axis_selection" class="with-gap" type="radio"
                   id="x_axis_time" checked=""/>
            <label for="x_axis_time">Temps</label>
          </p>
          <p style="display:inline-block; margin-left:20px">
            <input name="x_axis_selection" class="with-gap" type="radio"
                   id="x_axis_distance"/>
            <label for="x_axis_distance">Distance</label>
          </p>
        </form>
        <div id="workout_chart">
          <p class="grey-text">Altitude</p>
          <div id="elevation_chart" style="width: 100%; height: 300px;"></div>
          <p class="grey-text">Puissance</p>
          <div id="power_chart" style="width: 100%; height: 300px;"></div>
          <p class="grey-text">Vitesse</p>
          <div id="speed_chart" style="width: 100%; height: 300px;"></div>
          <p class="grey-text">Cadence</p>
          <div id="cadence_chart" style="width: 100%; height: 300px;"></div>
          <p class="grey-text">Fréquence cardiaque</p>
          <div id="heart_rate_chart" style="width: 100%; height: 300px;"></div>
        </div>

      </div>
    </div>
  </div>
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Profil de Puissance Record</span>
        <div id="ppr_chart" style="width: 100%; height: 300px;"></div>
      </div>
    </div>
  </div>
</template>
