<template name="LoginForm">
<form id="login-form" action="action" class="center-align">
      <div class="row " >
        <div class="input-field  col s10 offset-s1">
          <input id="login_username"  type="text" class="validate ">
          <label for="login_username" class="">Username</label>
        </div>
       </div>
    <div class="row">
        <div class="input-field col s10 offset-s1">
          <input id="login_password" type="password" class="validate">
          <label for="login_password">Password</label>
        </div>
     </div>
    <div class="row">
        <div class="input-field col s10 offset-s1 center">
        <a class="btn-flat col s12 m6 primary_txt waves-effect" id="login_button">Login</a>
        <a class="waves-effect col s12 primary_txt m6 btn-flat" href="/signup" id="go_signup_button">Signup</a>
        </div>
    </div>
   </form>
</template>
