<template name="LoginForm">
<form id="login-form" action="action" class="center-align" style="padding:0px 10px; padding-top:10px;">
      <div class="row " >
        <div class="input-field  col s12">
          <input id="login_username"  type="text" class="validate ">
          <label for="login_username" class="">Nom d'utilisateur</label>
        </div>
       </div>
    <div class="row">
        <div class="input-field col s12">
          <input id="login_password" type="password" class="validate">
          <label for="login_password">Mot de passe</label>
        </div>
     </div>
    <div class="row">
        <div class="input-field col s12">
        <a class="btn-flat col s12 accent_txt waves-effect" id="login_button">Connexion</a>
        </div>
    </div>
   </form>
</template>
