<template name="Login">
  <style>
    body {
      background: #263238;
    }

    #somet_logo {
      margin: 5rem;
      width: 20rem;
    }

    .primary-text {
      color: #263238;
    }

    .secondary {
      background: #37474F;
    }

    .forms_container {
      width: 30rem;
      margin: auto;
      position: relative;
    }


    .form_line {
      display: flex;
      margin-bottom: 1rem;
      padding: 0px 1rem;
      align-items: center;
    }

    .form_line > input  {
      flex: 1;
      margin-left: 25px;
      vertical-align: middle;
      margin-bottom:0px;
      margin-right: 10px;
      font-size: 1.2rem;
      color: black;
    }

    .form_line > span {
      flex: 1;
      margin-left: 25px;
      vertical-align: middle;
      margin-bottom:0px;
      font-size: 1.2rem;
    }

    .form_line > i {
      size: 1rem;
    }

    .form_icon {
      float: left;
    }

    .form_field {
      display: flex;
    }

    .actions {
      margin: 1rem auto;
      width: 30rem;
    }

    #auth_actions, #button_login, #button_signup {
      transition: all 400ms;
    }

    #signup_form {
      position: absolute;
      width: 100%;
      height: auto;
      transition: all 400ms, z-index 1ms 400ms;
      max-height: 100px;
      overflow: hidden;
      opacity: 0;
      z-index: 0;
    }

    #signup_form.signup_mode {
      max-height: 220px;
      opacity: 1;
      z-index: 10;
      transform: translateY(4px);
      overflow: visible;
    }

    .dropdown-content {
      z-index: 20;
    }

    #login_form {
      z-index: 10;
      transition: all 400ms;
    }

    #login_form.signup_mode {
      transform: translateY(-167px)
    }

    #auth_actions.signup_mode {
      transform: translateY(3px);
    }

    #button_login.signup_mode {
      transform: translateY(140px);
      background: #37474F;
    }

    #button_signup.signup_mode {
      background: #ec407a;
    }

    #button_signup.signup_mode:hover {
      background: #ec407a;
    }

    #button_signup:hover {
      background: #37474F;
    }


    .actions > a {
      display: block;
      margin-bottom: 1rem;
    }

    .separate {
        height: 2px;
        background: white;
        margin: 2rem  5rem;
    }

    @media screen and (max-height: 800px) {
      #somet_logo {
        margin: 2.5rem;
      }
    }
  </style>

  <div class="center-align container">
    <img src="/somet-logo.png" id="somet_logo">


{{#if loggingIn}}
  {{> Preloader}}
{{else}}
    <div class="actions">
      <a data-social-login="loginWithStrava" class="waves-effect waves-light deep-orange lighten-1 btn-large button">Connexion avec Strava</a>
    </div>
    <div class="actions">
      <div class="separate"></div>
    </div>
    <div class="forms_container">


      <div class="card" id="signup_form">
        <div class="card-content primary-text">
          <div class="relative form_line">
            <i class="material-icons">email</i>
            <input id="email" placeholder="Adresse email" type="text"/>
          </div>
          <div class="relative form_line">
            <i class="material-icons">face</i>
            <input id="complete_name" placeholder="Nom complet" type="text"/>
          </div>
          <div class="relative form_line">
            <i class="material-icons" style="margin-top:-15px">directions_bike</i>
                <span>
                  <select id="type">
                    <option value="" disabled selected>Je souhaite un compte...</option>
                    <option value="athlete">Athlete</option>
                    <option value="trainer">Entraineur</option>
                  </select>
                  </span>
          </div>
        </div>
      </div>

      <div class="card" id="login_form">
        <div class="card-content primary-text">
              <div class="relative form_line">
                <i class="material-icons">perm_identity</i>
                <input id="username" placeholder="Adresse mail ou nom d'utilisateur" type="text"/>
              </div>
              <div class="relative form_line">
                <i class="material-icons">fingerprint</i>
                <input id="password" placeholder="Mot de passe" type="password"/>
              </div>
        </div>
        </div>

    </div>
    <div class="actions" id="auth_actions">
      <a class="waves-effect waves-light btn-large button" id="button_login">Connexion par identifiants</a>
      <a class="waves-effect waves-light btn-large secondary button" id="button_signup">Créer un compte</a>
    </div>

  {{/if}}

  </div>
  <script>
    var signup_mode = false;

    $(document).ready(function() {
      $('select').material_select();
      $('.select-dropdown').css('font-size', '1.2rem').css('color', 'rgba(0,0,0,0.25)').css('z-index',30);
      $('select').on('change', function() {
        $('.select-dropdown').css('color', 'rgba(0,0,0,1)');
      });
    });

    $('#button_signup').on('click', function () {
      if(signup_mode) {
        $('#login_form').removeClass('signup_mode');
        $('#signup_form').removeClass('signup_mode');
        $('#auth_actions').removeClass('signup_mode');
        $('#button_login').removeClass('signup_mode');
        $('#button_signup').removeClass('signup_mode');
      } else {
        $('#login_form').addClass('signup_mode');
        $('#signup_form').addClass('signup_mode');
        $('#auth_actions').addClass('signup_mode');
        $('#button_login').addClass('signup_mode');
        $('#button_signup').addClass('signup_mode');
      }
      signup_mode = !signup_mode;
    });
  </script>



  <!--<nav style="position:fixed;z-index:99;background:#263238;box-shadow:none">
    <div class="nav-wrapper">
      <a href="/" class="" id="title">
        <img src="/somet-logo.png" width="100" alt="">
      </a>
      <ul class="right">
        <li><a id="about" class="pointer modal-trigger" href="#about_modal">A propos</a>
        </li>
      </ul>
    </div>
  </nav>*/--><!--
  <div class="container" style="padding-top:0px;">
    <div class=" valign-wrapper" style="height:100vh;padding: 0px 0px;">
      <div class="row valign" style="    width: 100%;   margin: auto;">
        <div class="col s12 m7 white-text hide-on-small-only" style="padding: 0px 0px;">
          <h1 class="thin">Découvrez Somet,</h1>
          <h4 class="light">la plateforme d'entrainement cycliste pour mettre en lien athlètes et
            entraineurs.</h4>
        </div>
        <div class="col m1 hide-on-small-only">
          <h5></h5>
        </div>
        <div class="col s12 m4">
          <div class="row">
            <p class="white-text">Rapidité et fonctionnalités : </p>
            <a data-social-login="loginWithStrava" class="col s12  waves-effect orange darken-3 waves-light  btn-large">Connexion
              avec Strava</a>
          </div>

          <div class="row">
            <p class="white-text">Pas de compte Strava ? </p>
            <a class="col s12 modal-trigger waves-effect white blue-grey-text text-darken-3 waves-light  btn-large"
               href="#modal_email_login">Connexion par email</a>
          </div>
          <div class="row">
            <a class="col s12 modal-trigger waves-effect blue-grey darken-4 waves-light  btn-large"
               href="#modal_email_signup">Inscription par email</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="modal_email_signup" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Inscription</h4>
      <p><br></p>
      <div class="row">
        <form class="col s12" id="login-with-email">
          <div class="row">
            <div class="input-field col s12 m6">
              <input placeholder="Nino Schurter" id="completeNameCreate" name="completeNameCreate" type="text"
                     class="validate">
              <label for="completeNameCreate" class="active">Nom complet</label>
            </div>
            <div class="input-field col s12 m6">
              <input placeholder="nino_schurter" id="usernameCreate" name="usernameCreate" type="text" class="validate">
              <label for="usernameCreate" class="active">Pseudonyme (s'affichera @nino_schurter)</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m6">
              <input id="emailCreate" name="emailCreate" type="email" class="validate"
                     placeholder="nino.schurter@scott-sports.com">
              <label for="emailCreate" class="active">Email</label>
            </div>
            <div class="input-field col s12 m6">
              <input id="passwordCreate" name="passwordCreate" type="password" placeholder="jEr0uL3enScAle900rC"
                     class="validate">
              <label for="passwordCreate" class="active">Mot de passe</label>
            </div>
          </div>
          <div class="row">
            <p>Type de compte :</p>
            <p class="col s6">
              <input name="group1" type="radio" checked="true" class="with-gap" id="athlete_radio"/>
              <label for="athlete_radio">Sportif</label>
            </p>
            <p class="col s6">
              <input name="group1" type="radio" class="with-gap" id="trainer_radio"/>
              <label for="trainer_radio">Entraineur</label>
            </p>
          </div>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <button data-auth-type="create" class="modal-action btn-flat pink-text modal-close" type="submit">Créer mon
        compte
      </button>
      <a class="modal-action modal-close waves-effect waves-red btn-flat">Fermer</a>
    </div>
  </div>

  <div id="modal_email_login" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Connexion</h4>
      <p><br></p>
      <div class="row">
        <form class="col s12" id="signup-with-email">
          <div class="row">
            <div class="input-field col s12">
              <input placeholder="nino_schurter" name="emailLogin" id="emailLogin" type="text" class="validate">
              <label for="emailLogin" class="active">Pseudonyme ou adresse email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="passwordLogin" name="passwordLogin" type="password" placeholder="jEr0uL3enScAle900rC"
                     class="validate">
              <label for="passwordLogin" class="active">Mot de passe</label>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <button data-auth-type="sign-in" class="modal-close modal-action btn-flat pink-text" type="submit">Connexion à mon
        compte
      </button>
      <a class="modal-action modal-close waves-effect waves-red btn-flat ">Fermer</a>
    </div>
  </div>

  <div id="about_modal" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>About</h4>
      <p>Actuellement en version de test, il se peut que vous rencontriez des bugs.
        Merci de les signaler à l'adresse suivante : pierrejacquier39@gmail.com
        <br>
        Pierre Jacquier - 2016. Tous droits réservés.
      </p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-pink pink-text btn-flat ">Fermer</a>
    </div>
  </div>

  <script>
    $(document).ready(function () {
      $('.modal-trigger').leanModal();
    });
  </script>-->

</template>
