<template name="Signup">
    <style>
        .container {
            padding-top: 70px;   
        }
        
        body {
            background: url(/wall.jpg)   center 0 no-repeat fixed;
            background-size: cover;
        }
    </style>
        <div class="container container">
       <div class="row">
        <div class="col s12 m8 offset-m2">
        <div class="card hoverable">
            
        <h1 class="center ">TrainingLink</h1>
            {{> SignupForm}}</div>
           </div>
        </div>
       
    </div>
</template>