<template name="Workout">
    <div class="col s12">

        <p>
            <a class="btn-flat waves-effect primary_txt" href="/workouts"><i
                    class="material-icons left">arrow_back</i> Retourner à la liste</a>
            {{#if isTrainer}}
            {{else}}
                <a class="btn-flat hide waves-effect primary_txt"><i
                        class="material-icons left">edit</i> MODIFIER</a>
                <a class="btn-flat waves-effect primary_txt modal-trigger" href="#delete_wk"><i
                        class="material-icons left">delete</i> SUPPRIMER</a>
            {{/if}}
        </p>
        <div class="card" style="padding:5px 20px; z-index:99">
            <h4>{{title}}</h4>
            <div class="row">
                <div class="col s12 m6">
                    <p class="grey-text">{{date}}</p>
                    <p>{{description}}</p>
                    <p>{{comments}}</p>
                </div>
                <div class="col s12 m6">
                    <div class="row">
                        <div class="col s6 m3">
                            <div class="circle center-align" id="circle_crten_eff"></div>
                            <p class="center-align f10p">CR10 Effort</p>
                        </div>
                        <div class="col s6 m3">
                            <div class="circle" id="circle_crten_ple"></div>
                            <p class="center-align f10p">CR10 Plaisir</p>
                        </div>
                        <div class="col s6 m3">
                            <div class="circle" id="sensa"></div>
                            <p class="center-align f10p">Sensations</p>
                        </div>
                        <div class="col s6 m3">
                            <div class="circle" id="hum"></div>
                            <p class="center-align f10p">Humeur</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <h5>Détails</h5>
                <div class="col s12 m6">
                    <p class="grey-text">Durée : {{dispMins length}}</p>
                    <p class="grey-text">Distance : {{distance}} km</p>
                    {{#if isFit}}
                        <p class="grey-text">Ascencion totale : {{ascent}} m</p>
                        <p class="grey-text">Descente totale : {{descent}} m</p>
                        <p class="grey-text">Calories : {{calories}} kcal</p>
                    {{/if}}
                </div>
                <div class="col s12 m6">
                    {{#if isFit}}
                        <p class="grey-text">Vitesse moyenne : {{avg_speed}} km/h</p>
                        <p class="grey-text">Vitesse max : {{max_speed}} km</p>
                        <p class="grey-text">Cadence moyenne : {{avg_cadence}} rpm</p>
                        <p class="grey-text">Cadence max : {{max_cadence}} rpm</p>
                    {{/if}}
                </div>
            </div>
            <div class="row">
                {{#if isFit}}
                    <h5 style="display: inline">Analyse</h5>
                    <form style="display: inline-block;float: right" action="#">
                        <p style="display:inline-block">
                            <input name="x_axis_selection" class="with-gap" type="radio"
                                   id="x_axis_time" checked=""/>
                            <label for="x_axis_time">Temps</label>
                        </p>
                        <p style="display:inline-block; margin-left:20px">
                            <input name="x_axis_selection" class="with-gap" type="radio"
                                   id="x_axis_distance"/>
                            <label for="x_axis_distance">Distance</label>
                        </p>
                    </form>
                    <div id="workout_chart" class="col s12">
                        <p class="grey-text">Altitude</p>
                        <div id="elevation_chart" style="width: 100%; height: 300px;"></div>
                        <p class="grey-text">Puissance</p>
                        <div id="power_chart" style="width: 100%; height: 300px;"></div>
                        <p class="grey-text">Vitesse</p>
                        <div id="speed_chart" style="width: 100%; height: 300px;"></div>
                        <p class="grey-text">Cadence</p>
                        <div id="cadence_chart" style="width: 100%; height: 300px;"></div>
                    </div>
                {{/if}}
            </div>
        </div>

    </div>
    <div id="delete_wk" class="modal">
        <div class="modal-content">
            <h4>Voulez-vous vraiment supprimer cet entrainement ?</h4>
            <p>CETTE ACTION EST IRREVERSIBLE ET SUPPRIMERA L'ENTRAINEMENT <span class="wkid">{{id}}</span></p>
        </div>
        <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Annuler</a>
            <a href="#!" id="delete_bt" class=" modal-action modal-close waves-effect waves-red btn-flat red-text">Supprimer</a>
        </div>
    </div>

</template>
