<template name="Plans">
  <div class="col s12 mt20p">
    {{#if currentUser.profile.trainer}}
      <a class="btn-flat waves-effect primary_txt modal-trigger" href="/plan/new"><i
              class="material-icons left">add</i> Ajouter</a>
    {{/if}}
    <div class="" style="padding:0px;z-index:99">
      {{#if currentUser.profile.trainer}}
        {{> AthletePlans username=selectedAthlete}}
      {{else}}
        {{> AthletePlans username=currentUser.username}}
      {{/if}}
    </div>
  </div>

  <script type="text/javascript">

    $(document).ready(() => {
      $('.modal-trigger').leanModal();
    });


  </script>
</template>
