<template name="Workout">
  {{#if Template.subscriptionsReady}}

    <p>
      <a class="btn-flat waves-effect primary_txt" href="/workouts"><i
              class="material-icons left">arrow_back</i> Retourner à la liste</a>
      {{#if currentUser.profile.trainer}}
      {{else}}
        {{#if workout.fit_values}}
          <a class="btn-flat waves-effect primary_txt modal-trigger" href="#link_fit"><i
                  class="material-icons left">remove</i> Supprimer le lien .fit</a>
        {{else}}
          <a class="btn-flat waves-effect primary_txt modal-trigger" href="#link_fit"><i
                  class="material-icons left">link</i> Lier avec un .fit</a>
        {{/if}}
        <a class="btn-flat waves-effect primary_txt modal-trigger" href="#delete_wk"><i
                class="material-icons left">delete</i> SUPPRIMER</a>
      {{/if}}
    </p>
      <div class=" white-text mt10pm sides1rem">
        {{#with workout}}
            <span class="view_title  light">{{title}}</span>
            {{#if fit_values}}
              <span class="card-title right vam l20p mt25p">
              <div class="chip white">
                .FIT
              </div>
            </span>
            {{/if}}
            {{#if strava_id}}
              <span class="card-title right vam l20p mt25p">
              <div class="chip white">
                Strava
              </div>
            </span>
            {{/if}}
          <p class="f18p mt5pm secondary_text_color_dark">
            {{moFormat start_date 'DD/MM/YYYY'}} -
            {{dispDuration duration}}
          </p>
        {{/with}}
      </div>

    <div class="col s12 m6">
      <div class="card small" style="z-index:99">
        <div class="card-content">
          {{#with workout}}
            <span class="card-title">Contenu</span>
            {{#if description}}
              <p>{{description}}</p>
            {{else}}
              <p class="italic">Pas de description</p>
            {{/if}}
          {{/with}}
        </div>
        {{#if currentUser.profile.trainer}}
        {{else}}
          <div class="card-action right-align">
            <a href="#set_cr" class="modal-trigger grey-text">Modifier</a>
          </div>
        {{/if}}
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card small" style="z-index:99">
        <div class="card-content">
          <span class="card-title">Evaluation des sensations</span>
          {{#if workout.cr}}
            {{> WorkoutCRs cr=workout.cr}}
          {{else}}
            <p>Vous n'avez pas encore rempli votre CR de sensations et ressentis.</p>
          {{/if}}
        </div>
        {{#if currentUser.profile.trainer}}
        {{else}}
          <div class="card-action right-align">
            <a href="#set_cr" class="modal-trigger grey-text">Modifier</a>
          </div>
        {{/if}}
      </div>
    </div>


    <div class="col s12">
      <div class="card">
        {{#with workout}}
          <div class="card-content">
            <span class="card-title">Détails</span>
            <div class="row">
              <div class="col s12 m6" style="padding: 0">
                <p>Durée : {{dispDuration duration}}</p>
                <p>Distance : {{dispDistance distance}} km</p>
                {{#if strava_id}}
                  {{#if fit_values.elevation.ascent}}
                    <p>Ascension totale : {{fit_values.elevation.ascent}} m</p>
                  {{else}}
                    {{#if ascent}}
                      <p>Ascension totale : {{ascent}} m</p>
                    {{/if}}
                  {{/if}}
                  {{#if fit_values.elevation.descent}}
                    <p>Descente totale : {{fit_values.elevation.descent}} m</p>
                  {{else}}
                    {{#if descent}}
                      <p>Descente totale : {{descent}} m</p>
                    {{/if}}
                  {{/if}}
                  {{#if fit_values.calories}}
                    <p>Estimation des calories consomées : {{fit_values.calories}} cal</p>
                  {{else}}
                    {{#if calories}}
                      <p>Estimation des calories consomées : {{calories}} m</p>
                    {{/if}}
                  {{/if}}
                {{/if}}
              </div>
              <div class="col s12 m6" style="padding: 0">
                {{#if fit_values.speed.avg}}
                  <p>Vitesse moyenne : {{fit_values.speed.avg}} km/h</p>
                {{/if}}
                {{#if fit_values.speed.max}}
                  <p>Vitesse max : {{fit_values.speed.max}} km</p>
                {{/if}}
                {{#if fit_values.cadence.avg}}
                  <p>Cadence moyenne : {{fit_values.cadence.avg}} rpm</p>
                {{/if}}
                {{#if fit_values.cadence.max}}
                  <p>Cadence max : {{fit_values.cadence.max}} rpm</p>
                {{/if}}
                {{#if fit_values.power.avg}}
                  <p>Puissance moyenne : {{fit_values.power.avg}} W</p>
                {{/if}}
                {{#if fit_values.power.max}}
                  <p>Puissance max : {{fit_values.power.max}} W</p>
                {{/if}}
                {{#if fit_values.heart_rate.avg}}
                  <p>Fréquence cardiaque moyenne : {{fit_values.heart_rate.avg}} bpm</p>
                {{/if}}
                {{#if fit_values.heart_rate.max}}
                  <p>Fréquence cardiaque max : {{fit_values.heart_rate.max}} bpm</p>
                {{/if}}
              </div>
            </div>
          </div>
        {{/with}}
      </div>
    </div>

    {{#if fitProcessing}}
      {{> Preloader}}
    {{/if}}

    {{#if workout.fit_values}}
      {{> WorkoutGraphs workout=workout.fit_values}}
    {{/if}}

    <div id="delete_wk" class="modal">
      <div class="modal-content">
        <h4>Voulez-vous vraiment supprimer cet entrainement ?</h4>
        <p>CETTE ACTION EST IRREVERSIBLE ET SUPPRIMERA L'ENTRAINEMENT <span class="wkid"></span></p>
      </div>
      <div class="modal-footer">
        <a class=" modal-action modal-close waves-effect waves-green btn-flat">Annuler</a>
        <a id="delete_bt"
           class=" modal-action modal-close waves-effect waves-red btn-flat red-text">Supprimer</a>
      </div>
    </div>

    <div id="set_cr" class="modal">
      <div class="modal-content">
        <h4>Editer le CR</h4>
        <div class="">
          <h5>Sensations et ressenti</h5>
          <p class="range-field">
            Echelle d'effort CR10 : 
          <div class="input-field">
            <select class="browser-default" id="cr_effort">
              <option value="" disabled>Choisir...</option>
              <option value="0">0</option>
              <option value="0.3">0.3</option>
              <option value="0.5">0.5</option>
              <option value="1">1</option>
              <option value="1.5">1.5</option>
              <option value="2">2</option>
              <option value="2.5">2.5</option>
              <option value="3">3</option>
              <option value="4" selected="">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
            </select>
          </div>
          </p>
          <p class="range-field">
            Echelle de plaisir CR10 :
          <div class="input-field">
            <select class="browser-default" id="cr_pleasure">
              <option value="" disabled>Choisir...</option>
              <option value="0">0</option>
              <option value="0.3">0.3</option>
              <option value="0.5">0.5</option>
              <option value="1">1</option>
              <option value="1.5">1.5</option>
              <option value="2">2</option>
              <option value="2.5">2.5</option>
              <option value="3">3</option>
              <option value="4" selected="">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </div>
          </p>
          <p class="range-field">
            Echelle de sensations :
          <div class="input-field">
            <select class="browser-default" id="cr_sensations">
              <option value="" disabled>Choisir...</option>
              <option value="0">0</option>
              <option value="0.3">0.3</option>
              <option value="0.5">0.5</option>
              <option value="1">1</option>
              <option value="1.5">1.5</option>
              <option value="2">2</option>
              <option value="2.5">2.5</option>
              <option value="3">3</option>
              <option value="4" selected="">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </div>
          </p>
          <p class="range-field">
            Echelle d'humeur :
          <div class="input-field">
            <select class="browser-default" id="cr_mood">
              <option value="" disabled>Choisir...</option>
              <option value="0">0</option>
              <option value="0.3">0.3</option>
              <option value="0.5">0.5</option>
              <option value="1">1</option>
              <option value="1.5">1.5</option>
              <option value="2">2</option>
              <option value="2.5">2.5</option>
              <option value="3">3</option>
              <option value="4" selected="">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </div>
          </p>
        </div>
      </div>
      <div class="modal-footer">
        <a id="accept_cr"
           class=" modal-action modal-close waves-effect waves-pink btn-flat accent_txt">Valider</a>
        <a class=" modal-action modal-close waves-effect waves-grey btn-flat">Annuler</a>
      </div>
    </div>

    <div id="link_fit" class="modal bottom-sheet">
      <div class="modal-content">
        <h4>Lier un fichier .FIT</h4>
        <p>Afin de bénéficier de l'analyse complète offerte par Sumrise, vous pouvez télécharger un fichier provenant de
          votre appareil ANT+, qui sera lié à cet entrainement.</p>
        {{> upload_bootstrap fileTypes='.fit'}}
      </div>
      <div class="modal-footer">
        <a class=" modal-action modal-close waves-effect waves-green btn-flat">Fermer</a>
      </div>
    </div>

    <script>
      $(document).ready(() => {
        $('.modal-trigger').leanModal();
      });
    </script>

  {{else}}
    {{> Preloader}}
  {{/if}}
</template>
