<template name="SideNav">
    <li class="side_item {{#if dashboard}}selected{{/if}} "><a href="/dashboard" ><i class="small material-icons left valign  primary_txt">dashboard</i><span class=" primary_txt valign">Dashboard</span></a></li>
    <li class="side_item {{#if workouts}}selected{{/if}}" ><a href="/workouts"><i class="small material-icons left valign  primary_txt">directions_bike</i><span class=" primary_txt">Entraînements</span></a></li>
    <li class="side_item {{#if plans}}selected{{/if}}"><a href="/plans"><i class="small material-icons left valign  primary_txt">list</i><span class=" primary_txt">Plans</span></a></li>
    <li class="side_item {{#if calendar}}selected{{/if}}"><a href="/calendar"><i class="small material-icons left valign  primary_txt">today</i><span class=" primary_txt">Calendrier</span></a></li>
    <li class="side_item {{#if analysis}}selected{{/if}}"><a href="/analysis"><i class="small material-icons left valign  primary_txt">trending_up</i><span class=" primary_txt">Analyse</span></a></li>
    <li class="side_item {{#if settings}}selected{{/if}}"><a href="/settings"><i class="small material-icons left valign  primary_txt">settings</i><span class=" primary_txt">Paramètres</span></a></li>
</template>
