<template name="Login">
    <nav style="position:fixed;z-index:99;background:rgba(30,30,30,0.5);box-shadow:none">
        <div class="nav-wrapper">
            <a href="/" class="ml10p" id="title">Sumrise<span class="f18p ml10p"> (beta)</span></a>
            <ul class="right">
                <li><a id="goSignup" class="pointer">{{#if loginSelected}}Créer un compte{{else}}Connexion{{/if}}</a>
                </li>

            </ul>
        </div>
    </nav>
    <div class=" valign-wrapper" style="height:100vh;padding: 0px 20px;">
        <div class="row valign">
            <div class="col m1">
                <h5></h5>
            </div>
            <div class="col s12 m6 white-text hide-on-small-only" style="padding: 0px 0px;">
                <h1 class="thin">Découvrez Sumrise,</h1>
                <h4 class="light">la plateforme d'entrainement cycliste pour mettre en lien athlètes et
                    entraineurs.</h4>
            </div>
            <div class="col m1">
                <h5></h5>
            </div>
            <div class="col s12 m3 card">
                {{#if loginSelected}}
                    {{> LoginForm}}
                {{else}}
                    {{> SignupForm}}
                {{/if}}
            </div>
            <div class="col m1">
                <h5></h5>
            </div>
        </div>
    </div>

</template>
