<template name="Login">
    <nav style="position:fixed;z-index:99;background:rgba(30,30,30,0.5);box-shadow:none">
        <div class="nav-wrapper">
            <a href="/" class="ml10p" id="title">Sumrise<span class="f18p ml10p"> (beta)</span></a>
            <ul class="right">
                <li><a id="goSignup" class="pointer">{{#if loginSelected}}Créer un compte{{else}}Connexion{{/if}}</a></li>
                <li><a>A propos</a></li>
            </ul>
        </div>
    </nav>
        <div class="parallax-container valign-wrapper" style="height:100vh">
           <div class="parallax"><img src="/mountain-road.jpg"></div>
           <div class="row valign">
               {{#if loginSelected}}
                  <div class="col s12 m6 white-text">
                      <h1 class="thin">Bienvenue sur Sumrise,</h1>
                      <h3 class="light">la plateforme d'entrainement cycliste pour mettre en lien athlètes et entraineurs.</h3>
                  </div>
                  <div class="col s12 m4">    </div>
                  <div class="col s12 m4 offset-s0 card">
                       {{> LoginForm}}
                   </div>
             {{else}}
                 <div class="col card s12 grey-text" style="padding:10px 30px;">
                     {{> SignupForm}}
                 </div>
            {{/if}}

           </div>
         </div>
         <!--<div class="section white">
           <div class="row container">
             <h2 class="header">Parallax</h2>
             <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
           </div>
         </div>
         <div class="parallax-container">
           <div class="parallax"><img src="/mountain-road.jpg"></div>
       </div>-->

         <script type="text/javascript">
         $(document).ready(function(){
          $('.parallax').parallax();
        });
         </script>

</template>
