<template name="Plan">
    {{> Nav page="Plans" color="blue-grey"}}
    <div id="side_nav" class="hide-on-small-only">
        <ul class="hide-on-med-and-down">
            {{> SideNav dashboard=false workouts=false plans=true calendar=false
            analysis=false}}
        </ul>
    </div>
    <div class="row" style="padding-top:90px">
            <div class="col l2 hide-on-med-and-down ">
                <h5> </h5>

            </div>

            <div class="col l10 s12 m12 scroll ">
                <div class="dash_container">
                    <p><a class="btn-flat waves-effect primary_txt" href="/plans"><i class="material-icons left">arrow_back</i> GO BACK TO LIST</a></p>
                      <div class="card" style="padding:5px 20px">
                            <p class="hide-on-small-only" id="date">Soumis le {{date}}</p>
                            <p class="hide-on-med-and-up">Soumis le {{date}}</p>
                            <h4>{{title}}</h4>
                            <h5 class="grey-text">{{comments}}</h5>
                            <div class="row">
                                <div class="col l4 m6 s12">
                                    <div class="" >
                                        <h5>Lundi</h5>
                                        <p>{{monday}}</p>
                                    </div>
                                    <div class="divider"></div>
                                </div>
                                <div class="col l4 m6 s12">
                                    <div class="">
                                        <h5>Mardi</h5>
                                        <p>{{tuesday}}</p>
                                    </div>
                                    <div class="divider"></div>
                                </div>
                                <div class="col l4 m6 s12">
                                    <div class="">
                                        <h5>Mercredi</h5>
                                        <p>{{wednesday}}</p>
                                    </div>
                                    <div class="divider"></div>
                                </div>
                                <div class="col l4 m6 s12">
                                    <div class="">
                                        <h5>Jeudi</h5>
                                        <p>{{thursday}}</p>
                                    </div>
                                    <div class="divider"></div>
                                </div>
                                <div class="col l4 m6 s12">
                                    <div class="">
                                        <h5>Vendredi</h5>
                                        <p>{{friday}}</p>
                                    </div>
                                    <div class="divider"></div>
                                </div>
                                <div class="col l4 m6 s12">
                                    <div class="">
                                        <h5>Samedi</h5>
                                        <p>{{saturday}}</p>
                                    </div>
                                    <div class="divider"></div>
                                </div>
                                <div class="col l4 m6 s12">
                                    <div class="">
                                        <h5>Dimanche</h5>
                                        <p>{{sunday}}</p>
                                    </div>
                                    <div class="divider"></div>
                                </div>
                        </div>
                      </div>
                </div>
          </div>
      </div>
</template>
