<template name="Plan">
    {{> Nav page="Plans" color="blue-grey"}}
    <div id="side_nav" class="hide-on-small-only">
        <ul class="hide-on-med-and-down">
            {{> SideNav dashboard=false workouts=false plans=true calendar=false
            analysis=false}}
        </ul>
    </div>
    <div class="row" style="padding-top:90px">
            <div class="col l2 hide-on-med-and-down ">
                <h5> </h5>

            </div>

            <div class="col l10 s12 m12 scroll ">
                <div class="dash_container">
                    <p><a class="btn-flat waves-effect primary_txt" href="/plans"><i class="material-icons left">arrow_back</i> GO BACK TO LIST</a></p>
                      <div class="card" style="padding:5px 20px">
                            <p class="hide-on-small-only" id="date">Soumis le {{monday_date}}</p>
                            <p class="hide-on-med-and-up">Soumis le {{monday_date}}</p>
                            <h4>{{title}}</h4>
                            <h5 class="grey-text">{{comments}}</h5>
                            <div class="row">
                                {{> PlanDay day="Lundi" type=mondayType support=mondaySupport duration=mondayDuration desc=monday_desc comments=monday_comments}}
                                {{> PlanDay day="Mardi" type=tuesdayType support=tuesdaySupport duration=tuesdayDuration desc=tuesday_desc comments=tuesday_comments}}
                                {{> PlanDay day="Mercredi" type=wednesdayType support=wednesdaySupport duration=wednesdayDuration desc=wednesday_desc comments=wednesday_comments}}
                                {{> PlanDay day="Jeudi" type=thursdayType support=thursdaySupport duration=thursdayDuration desc=thursday_desc comments=thursday_comments}}
                                {{> PlanDay day="Vendredi" type=fridayType support=fridaySupport duration=fridayDuration desc=friday_desc comments=friday_comments}}
                                {{> PlanDay day="Samedi" type=saturdayType support=saturdaySupport duration=saturdayDuration desc=saturday_desc comments=saturday_comments}}
                                {{> PlanDay day="Dimanche" type=sundayType support=sundaySupport duration=sundayDuration desc=sunday_desc comments=sunday_comments}}
                        </div>
                      </div>
                </div>
          </div>
      </div>
</template>
