<template name="Plan">
  <div class="col s12">
    <p>
      {{#if isEditablePlan}}
        <a class="btn-flat waves-effect primary_txt" href="/plans"><i class="material-icons left">arrow_back</i>
          Annuler</a>
        <a class="btn-flat waves-effect primary_txt" id="save_new_plan"><i class="material-icons left">save</i>
          Enregistrer</a>
      {{else}}
        <a class="btn-flat waves-effect primary_txt" href="/plans"><i class="material-icons left">arrow_back</i>
          Retourner à la liste</a>
        <a class="btn-flat waves-effect primary_txt" id="edit_plan"><i class="material-icons left">edit</i>
          Modifier</a>
        {{#if currentUser.profile.trainer}}
          <a class="btn-flat waves-effect primary_txt modal-trigger" href="#delete_plan"><i
                  class="material-icons left">delete</i> SUPPRIMER</a>
        {{/if}}
      {{/if}}
    </p>
    <div class="white-text mt10pm">
      {{#if isEditablePlan}}
        <form class="w100per">
          <div class="row">
            <div class="col s12">
              <p>
                <span class="light" style="font-size:50px; opacity: 0.7">Semaine du </span>
              <div class="input-field inline-block">
                <input id="monday_date" type="date" value="{{sessionMondayDate}}" class="light datepicker" style="font-size: 50px; width: 300px">
              </div>
              </p>
            </div>
            <div class="col s6">
              <p>
              <div class="input-field">
                <input id="description" type="text" value="{{sessionTitle}}">
                <label for="last_name" class="{{#if isEdit}}active{{/if}}">Description rapide</label>
              </div>
              </p>
            </div>
          </div>

        </form>
      {{else}}
        <p class="hide-on-med-and-up">Débute le lundi {{moFormat monday_date 'DD/MM/YYYY'}}</p>
        <span class="light" style="font-size:50px">Semaine du {{moFormat monday_date 'DD/MM/YYYY' }}</span>
        <p class="hide-on-small-only f18p mt5pm">
          {{title}}
        </p>
      {{/if}}
    </div>
  </div>


  {{#if isEditablePlan}}
    {{#each daysOfWeek}}
      <div class="col s12 m6 l4">
        {{> PlanDayInput }}
      </div>
    {{/each}}
  {{else}}
  {{#each days}}
    <div class="col s12 m6 l4">
      {{> PlanDay day=@index type=this.type support=this.support duration=this.duration description=this.description comments=this.comments}}
    </div>
  {{/each}}

  {{/if}}




  <div id="delete_plan" class="modal">
    <div class="modal-content">
      <h4>Voulez-vous vraiment supprimer ce plan ?</h4>
      <p>CETTE ACTION EST IRREVERSIBLE ET SUPPRIMERA LE PLAN <span class="plid">{{_id}}</span></p>
    </div>
    <div class="modal-footer">
      <a class=" modal-action modal-close waves-effect waves-green btn-flat">Annuler</a>
      <a id="delete_btn"
         class=" modal-action modal-close waves-effect waves-red btn-flat red-text">Supprimer</a>
    </div>
  </div>


  <script type="text/javascript">

    $(document).ready(function () {
      $('.modal-trigger').leanModal();
    });
    $('.datepicker').pickadate({
      selectMonths: true,
      selectYears: 15
    });

    function setThisDay(n) {
      var days = $('.day');
      days.removeClass("hidden");
      days.addClass("hidden");
      $('#day_' + n).removeClass("hidden");
      var menu_days = $('#menu_day li');
      menu_days.removeClass("active");
      menu_days.addClass("waves-effect");
      $('#menu_day_' + n).removeClass("waves-effect");
      $('#menu_day_' + n).addClass("active");
    }
  </script>
</template>
