<template name="Plan">
  <div class="col s12">
    <p>
      <a class="btn-flat waves-effect primary_txt" href="/plans"><i class="material-icons left">arrow_back</i>
        Retourner à la liste</a>
      {{#if currentUser.profile.trainer}}
        <a class="btn-flat waves-effect primary_txt modal-trigger" href="#delete_plan"><i
                class="material-icons left">delete</i> SUPPRIMER</a>
      {{/if}}
    </p>
    <div class="card accent_bg white-text">
      <div class="card-content">
        <span class="hide-on-small-only card-title right vam">Soumis le {{moFormat monday_date 'DD/MM/YYYY' }}</span>
        <p class="hide-on-med-and-up">Débute le lundi {{moFormat monday_date 'DD/MM/YYYY'}}</p>
        <span class="card-title">{{title}}</span>
      </div>
    </div>
  </div>


  {{#each days}}
    <div class="col s12 m6 l4">
      {{> PlanDay day=@index type=this.type support=this.support duration=this.duration description=this.description comments=this.comments}}
    </div>
  {{/each}}




  <div id="delete_plan" class="modal">
    <div class="modal-content">
      <h4>Voulez-vous vraiment supprimer ce plan ?</h4>
      <p>CETTE ACTION EST IRREVERSIBLE ET SUPPRIMERA LE PLAN <span class="plid">{{_id}}</span></p>
    </div>
    <div class="modal-footer">
      <a class=" modal-action modal-close waves-effect waves-green btn-flat">Annuler</a>
      <a id="delete_btn"
         class=" modal-action modal-close waves-effect waves-red btn-flat red-text">Supprimer</a>
    </div>
  </div>


  <script type="text/javascript">

    $(document).ready(function () {
      $('.modal-trigger').leanModal();
    });
    $('.datepicker').pickadate({
      selectMonths: true,
      selectYears: 15
    });

    function setThisDay(n) {
      var days = $('.day');
      days.removeClass("hidden");
      days.addClass("hidden");
      $('#day_' + n).removeClass("hidden");
      var menu_days = $('#menu_day li');
      menu_days.removeClass("active");
      menu_days.addClass("waves-effect");
      $('#menu_day_' + n).removeClass("waves-effect");
      $('#menu_day_' + n).addClass("active");
    }
  </script>
</template>
