<template name="Plan">
  <div class="col s12">
    <p>
      <a class="btn-flat waves-effect primary_txt" href="/plans"><i class="material-icons left">arrow_back</i>
        Retourner à la liste</a>
      {{#if currentUser.profile.trainer}}
        <a class="btn-flat waves-effect primary_txt modal-trigger" href="#add_plan1"><i
                class="material-icons left">edit</i> MODIFIER</a>
        <a class="btn-flat waves-effect primary_txt modal-trigger" href="#delete_plan"><i
                class="material-icons left">delete</i> SUPPRIMER</a>
      {{/if}}
    </p>
    <div class="card accent_bg white-text">
      <div class="card-content">
        <span class="hide-on-small-only card-title right vam">Soumis le {{moFormat monday_date 'DD/MM/YYYY' }}</span>
        <p class="hide-on-med-and-up">Débute le lundi {{moFormat monday_date 'DD/MM/YYYY'}}</p>
        <span class="card-title">{{title}}</span>
      </div>
    </div>
  </div>


  {{#each days}}
    <div class="col s12 m6 l4">
      {{> PlanDay day=@index type=this.type support=this.support duration=this.duration description=this.description comments=this.comments}}
    </div>
  {{/each}}


  <div id="add_plan1" class="modal modal-fixed-footer" style="width:90%;max-height:90%;height:90%;margin-top:-5%;">
    <div class="modal-content">
      <div class="row">
        <div class="col s12">
          <h5>Modifier un plan</h5>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m6">
          <input id="n_pl_title" type="text" placeholder="Titre" value="{{title}}">
          <label class="active" for="n_pl_title">Description rapide</label>
          <input id="n_pl_start_date" type="date" class="datepicker"
                 placeholder="Date du Lundi (début du plan)" data-value="{{monday_date}}">
        </div>
        <div class="input-field col s12 m6">
          <h5>Durée totale : {{weekTotalDuration}}</h5>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <ul class="pagination" id="menu_day">
            <li id="menu_day_0" class="active" onclick="setThisDay(0)"><a>Lundi {{monday}}</a>
            </li>
            <li id="menu_day_1" class="waves-effect" onclick="setThisDay(1)"><a
            >Mardi {{tuesday}}</a></li>
            <li id="menu_day_2" class="waves-effect" onclick="setThisDay(2)"><a
            >Mercredi {{wednesday}}</a></li>
            <li id="menu_day_3" class="waves-effect" onclick="setThisDay(3)"><a
            >Jeudi {{thursday}}</a></li>
            <li id="menu_day_4" class="waves-effect" onclick="setThisDay(4)"><a
            >Vendredi {{friday}}</a></li>
            <li id="menu_day_5" class="waves-effect" onclick="setThisDay(5)"><a
            >Samedi {{saturday}}</a></li>
            <li id="menu_day_6" class="waves-effect" onclick="setThisDay(6)"><a
            >Dimanche {{sunday}}</a></li>
          </ul>
        </div>
      </div>
      <div id="day_0" class="day ">
        <div class="row">
          <div class="col s12 m4">
            <form class="">
              <div class="input-field">
                <select class="browser-default" id="day_0_type" value="nth">
                  <option value="" disabled>Type...</option>
                  <option value="wk" selected="{{#if isDay0Wk}}selected{{/if}}">Entrainement</option>
                  <option value="rc" selected="{{#if isDay0Rc}}selected{{/if}}">Compétition</option>
                  <option value="nth" selected="{{#if isDay0Nth}}selected{{/if}}">Repos</option>
                </select>
              </div>
            </form>
          </div>
        </div>
        {{#if isDay0Wk}}
          <div class="row">
            <div class="col s12 m6">
              <form class="">
                <div class="input-field">
                  <select class="browser-default" id="day_0_support">
                    <option value="" disabled>Support...</option>
                    <option value="mtb" selected="{{#if isDay0Mtb}}selected{{/if}}">VTT</option>
                    <option value="road" selected="{{#if isDay0Road}}selected{{/if}}">Route</option>
                    <option value="ht" selected="{{#if isDay0Ht}}selected{{/if}}">Home Trainer
                    </option>
                    <option value="run" selected="{{#if isDay0Run}}selected{{/if}}">Course à pied
                    </option>
                    <option value="skix" selected="{{#if isDay0Skix}}selected{{/if}}">Ski de fond
                    </option>
                    <option value="swim" selected="{{#if isDay0Swim}}selected{{/if}}">Natation
                    </option>
                    <option value="endr" selected="{{#if isDay0Endr}}selected{{/if}}">Enduro
                    </option>
                    <option value="othr" selected="{{#if isDay0Othr}}selected{{/if}}">Autre</option>
                  </select>
                </div>
                <div class="input-field">
                  <textarea id="day_0_desc" class="materialize-textarea">{{monday_desc}}</textarea>
                  <label class="active" for="day_0_desc">Description</label>
                </div>
              </form>
            </div>
            <div class="col s12 m6">
              <form action="#">
                <p class="range-field">
                  Durée : {{day0Duration}}
                  <input type="range" id="day_0_duration" min="1" max="600"
                         value="{{mondayMinDuration}}"/>
                </p>
              </form>
              <div class="input-field">
                                <textarea id="day_0_comments"
                                          class="materialize-textarea">{{monday_comments}}</textarea>
                <label class="active" for="day_0_comments">Commentaires éventuels</label>
              </div>
            </div>
          </div>
        {{/if}}
        {{#if isDay0Rc}}
          <div class="row">
            <div class="col s12 m6">
              <form class="">
                <div class="input-field">
                  <select class="browser-default" id="day_0_support">
                    <option value="" disabled>Support...</option>
                    <option value="mtb" selected="{{#if isDay0Mtb}}selected{{/if}}">VTT</option>
                    <option value="road" selected="{{#if isDay0Road}}selected{{/if}}">Route</option>
                    <option value="run" selected="{{#if isDay0Run}}selected{{/if}}">Course à pied
                    </option>
                    <option value="skix" selected="{{#if isDay0Skix}}selected{{/if}}">Ski de fond
                    </option>
                    <option value="swim" selected="{{#if isDay0Swim}}selected{{/if}}">Natation
                    </option>
                    <option value="endr" selected="{{#if isDay0Endr}}selected{{/if}}">Enduro
                    </option>
                    <option value="othr" selected="{{#if isDay0Othr}}selected{{/if}}">Autre</option>
                  </select>
                </div>
                <div class="input-field">
                  <textarea id="day_0_desc" class="materialize-textarea">{{monday_desc}}</textarea>
                  <label class="active" for="day_0_desc">Description</label>
                </div>
              </form>
            </div>
          </div>
        {{/if}}
      </div>

      <div id="day_1" class="day hidden">
        <div class="row">
          <div class="col s12 m4">
            <form class="">
              <div class="input-field">
                <select class="browser-default" id="day_1_type">
                  <option value="" disabled>Type...</option>
                  <option value="wk" selected="{{#if isDay1Wk}}selected{{/if}}">Entrainement</option>
                  <option value="rc" selected="{{#if isDay1Rc}}selected{{/if}}">Compétition</option>
                  <option value="nth" selected="{{#if isDay1Nth}}selected{{/if}}">Repos</option>
                </select>
              </div>
            </form>
          </div>
        </div>
        {{#if isDay1Wk}}
          <div class="row">
            <div class="col s12 m6">
              <form class="">
                <div class="input-field">
                  <select class="browser-default" id="day_1_support">
                    <option value="" disabled>Support...</option>
                    <option value="mtb" selected="{{#if isDay1Mtb}}selected{{/if}}">VTT</option>
                    <option value="road" selected="{{#if isDay1Road}}selected{{/if}}">Route</option>
                    <option value="ht" selected="{{#if isDay1Ht}}selected{{/if}}">Home Trainer
                    </option>
                    <option value="run" selected="{{#if isDay1Run}}selected{{/if}}">Course à pied
                    </option>
                    <option value="skix" selected="{{#if isDay1Skix}}selected{{/if}}">Ski de fond
                    </option>
                    <option value="swim" selected="{{#if isDay1Swim}}selected{{/if}}">Natation
                    </option>
                    <option value="endr" selected="{{#if isDay1Endr}}selected{{/if}}">Enduro
                    </option>
                    <option value="othr" selected="{{#if isDay1Othr}}selected{{/if}}">Autre</option>
                  </select>
                </div>
                <div class="input-field">
                  <textarea id="day_1_desc" class="materialize-textarea">{{tuesday_desc}}</textarea>
                  <label class="active" for="day_1_desc">Description</label>
                </div>
              </form>
            </div>
            <div class="col s12 m6">
              <form action="#">
                <p class="range-field">
                  Durée : {{day1Duration}}
                  <input type="range" id="day_1_duration" min="1" max="600"
                         value="{{tuesdayMinDuration}}"/>
                </p>
              </form>
              <div class="input-field">
                                <textarea id="day_1_comments"
                                          class="materialize-textarea">{{tuesday_comments}}</textarea>
                <label class="active" for="day_1_comments">Commentaires éventuels</label>
              </div>
            </div>
          </div>
        {{/if}}
        {{#if isDay1Rc}}
          <div class="row">
            <div class="col s12 m6">
              <form class="">
                <div class="input-field">
                  <select class="browser-default" id="day_1_support">
                    <option value="" disabled>Support...</option>
                    <option value="mtb" selected="{{#if isDay1Mtb}}selected{{/if}}">VTT</option>
                    <option value="road" selected="{{#if isDay1Road}}selected{{/if}}">Route</option>
                    <option value="run" selected="{{#if isDay1Run}}selected{{/if}}">Course à pied
                    </option>
                    <option value="skix" selected="{{#if isDay1Skix}}selected{{/if}}">Ski de fond
                    </option>
                    <option value="swim" selected="{{#if isDay1Swim}}selected{{/if}}">Natation
                    </option>
                    <option value="endr" selected="{{#if isDay1Endr}}selected{{/if}}">Enduro
                    </option>
                    <option value="othr" selected="{{#if isDay1Othr}}selected{{/if}}">Autre</option>
                  </select>
                </div>
                <div class="input-field">
                  <textarea id="day_1_desc" class="materialize-textarea">{{tuesday_desc}}</textarea>
                  <label class="active" for="day_1_desc">Description</label>
                </div>
              </form>
            </div>
          </div>
        {{/if}}
      </div>

      <div id="day_2" class="day hidden">
        <div class="row">
          <div class="col s12 m4">
            <form class="">
              <div class="input-field">
                <select class="browser-default" id="day_2_type">
                  <option value="" disabled>Type...</option>
                  <option value="wk" selected="{{#if isDay2Wk}}selected{{/if}}">Entrainement</option>
                  <option value="rc" selected="{{#if isDay2Rc}}selected{{/if}}">Compétition</option>
                  <option value="nth" selected="{{#if isDay2Nth}}selected{{/if}}">Repos</option>
                </select>
              </div>
            </form>
          </div>
        </div>
        {{#if isDay2Wk}}
          <div class="row">
            <div class="col s12 m6">
              <form class="">
                <div class="input-field">
                  <select class="browser-default" id="day_2_support">
                    <option value="" disabled>Support...</option>
                    <option value="mtb" selected="{{#if isDay2Mtb}}selected{{/if}}">VTT</option>
                    <option value="road" selected="{{#if isDay2Road}}selected{{/if}}">Route</option>
                    <option value="ht" selected="{{#if isDay2Ht}}selected{{/if}}">Home Trainer
                    </option>
                    <option value="run" selected="{{#if isDay2Run}}selected{{/if}}">Course à pied
                    </option>
                    <option value="skix" selected="{{#if isDay2Skix}}selected{{/if}}">Ski de fond
                    </option>
                    <option value="swim" selected="{{#if isDay2Swim}}selected{{/if}}">Natation
                    </option>
                    <option value="endr" selected="{{#if isDay2Endr}}selected{{/if}}">Enduro
                    </option>
                    <option value="othr" selected="{{#if isDay2Othr}}selected{{/if}}">Autre</option>
                  </select>
                </div>
                <div class="input-field">
                  <textarea id="day_2_desc" class="materialize-textarea">{{wednesday_desc}}</textarea>
                  <label class="active" for="day_2_desc">Description</label>
                </div>
              </form>
            </div>
            <div class="col s12 m6">
              <form action="#">
                <p class="range-field">
                  Durée : {{day2Duration}}
                  <input type="range" id="day_2_duration" min="1" max="600"
                         value="{{wednesdayMinDuration}}"/>
                </p>
              </form>
              <div class="input-field">
                                <textarea id="day_2_comments"
                                          class="materialize-textarea">{{wednesday_comments}}</textarea>
                <label class="active" for="day_2_comments">Commentaires éventuels</label>
              </div>
            </div>
          </div>
        {{/if}}
        {{#if isDay2Rc}}
          <div class="row">
            <div class="col s12 m6">
              <form class="">
                <div class="input-field">
                  <select class="browser-default" id="day_2_support">
                    <option value="" disabled>Support...</option>
                    <option value="mtb" selected="{{#if isDay2Mtb}}selected{{/if}}">VTT</option>
                    <option value="road" selected="{{#if isDay2Road}}selected{{/if}}">Route</option>
                    <option value="run" selected="{{#if isDay2Run}}selected{{/if}}">Course à pied
                    </option>
                    <option value="skix" selected="{{#if isDay2Skix}}selected{{/if}}">Ski de fond
                    </option>
                    <option value="swim" selected="{{#if isDay2Swim}}selected{{/if}}">Natation
                    </option>
                    <option value="endr" selected="{{#if isDay2Endr}}selected{{/if}}">Enduro
                    </option>
                    <option value="othr" selected="{{#if isDay2Othr}}selected{{/if}}">Autre</option>
                  </select>
                </div>
                <div class="input-field">
                  <textarea id="day_2_desc" class="materialize-textarea">{{wednesday_desc}}</textarea>
                  <label class="active" for="day_2_desc">Description</label>
                </div>
              </form>
            </div>
          </div>
        {{/if}}
      </div>

      <div id="day_3" class="day hidden">
        <div class="row">
          <div class="col s12 m4">
            <form class="">
              <div class="input-field">
                <select class="browser-default" id="day_3_type">
                  <option value="" disabled>Type...</option>
                  <option value="wk" selected="{{#if isDay3Wk}}selected{{/if}}">Entrainement</option>
                  <option value="rc" selected="{{#if isDay3Rc}}selected{{/if}}">Compétition</option>
                  <option value="nth" selected="{{#if isDay3Nth}}selected{{/if}}">Repos</option>
                </select>
              </div>
            </form>
          </div>
        </div>
        {{#if isDay3Wk}}
          <div class="row">
            <div class="col s12 m6">
              <form class="">
                <div class="input-field">
                  <select class="browser-default" id="day_3_support">
                    <option value="" disabled>Support...</option>
                    <option value="mtb" selected="{{#if isDay3Mtb}}selected{{/if}}">VTT</option>
                    <option value="road" selected="{{#if isDay3Road}}selected{{/if}}">Route</option>
                    <option value="ht" selected="{{#if isDay3Ht}}selected{{/if}}">Home Trainer
                    </option>
                    <option value="run" selected="{{#if isDay3Run}}selected{{/if}}">Course à pied
                    </option>
                    <option value="skix" selected="{{#if isDay3Skix}}selected{{/if}}">Ski de fond
                    </option>
                    <option value="swim" selected="{{#if isDay3Swim}}selected{{/if}}">Natation
                    </option>
                    <option value="endr" selected="{{#if isDay3Endr}}selected{{/if}}">Enduro
                    </option>
                    <option value="othr" selected="{{#if isDay3Othr}}selected{{/if}}">Autre</option>
                  </select>
                </div>
                <div class="input-field">
                  <textarea id="day_3_desc" class="materialize-textarea">{{thursday_desc}}</textarea>
                  <label class="active" for="day_3_desc">Description</label>
                </div>
              </form>
            </div>
            <div class="col s12 m6">
              <form action="#">
                <p class="range-field">
                  Durée : {{day3Duration}}
                  <input type="range" id="day_3_duration" min="1" max="600"
                         value="{{thursdayMinDuration}}"/>
                </p>
              </form>
              <div class="input-field">
                                <textarea id="day_3_comments"
                                          class="materialize-textarea">{{thursday_comments}}</textarea>
                <label class="active" for="day_3_comments">Commentaires éventuels</label>
              </div>
            </div>
          </div>
        {{/if}}
        {{#if isDay3Rc}}
          <div class="row">
            <div class="col s12 m6">
              <form class="">
                <div class="input-field">
                  <select class="browser-default" id="day_3_support">
                    <option value="" disabled>Support...</option>
                    <option value="mtb" selected="{{#if isDay3Mtb}}selected{{/if}}">VTT</option>
                    <option value="road" selected="{{#if isDay3Road}}selected{{/if}}">Route</option>
                    <option value="run" selected="{{#if isDay3Run}}selected{{/if}}">Course à pied
                    </option>
                    <option value="skix" selected="{{#if isDay3Skix}}selected{{/if}}">Ski de fond
                    </option>
                    <option value="swim" selected="{{#if isDay3Swim}}selected{{/if}}">Natation
                    </option>
                    <option value="endr" selected="{{#if isDay3Endr}}selected{{/if}}">Enduro
                    </option>
                    <option value="othr" selected="{{#if isDay3Othr}}selected{{/if}}">Autre</option>
                  </select>
                </div>
                <div class="input-field">
                  <textarea id="day_3_desc" class="materialize-textarea">{{thursday_desc}}</textarea>
                  <label class="active" for="day_3_desc">Description</label>
                </div>
              </form>
            </div>
          </div>
        {{/if}}
      </div>


      <div id="day_4" class="day hidden">
        <div class="row">
          <div class="col s12 m4">
            <form class="">
              <div class="input-field">
                <select class="browser-default" id="day_4_type">
                  <option value="" disabled>Type...</option>
                  <option value="wk" selected="{{#if isDay4Wk}}selected{{/if}}">Entrainement</option>
                  <option value="rc" selected="{{#if isDay4Rc}}selected{{/if}}">Compétition</option>
                  <option value="nth" selected="{{#if isDay4Nth}}selected{{/if}}">Repos</option>
                </select>
              </div>
            </form>
          </div>
        </div>
        {{#if isDay4Wk}}
          <div class="row">
            <div class="col s12 m6">
              <form class="">
                <div class="input-field">
                  <select class="browser-default" id="day_4_support">
                    <option value="" disabled>Support...</option>
                    <option value="mtb" selected="{{#if isDay4Mtb}}selected{{/if}}">VTT</option>
                    <option value="road" selected="{{#if isDay4Road}}selected{{/if}}">Route</option>
                    <option value="ht" selected="{{#if isDay4Ht}}selected{{/if}}">Home Trainer
                    </option>
                    <option value="run" selected="{{#if isDay4Run}}selected{{/if}}">Course à pied
                    </option>
                    <option value="skix" selected="{{#if isDay4Skix}}selected{{/if}}">Ski de fond
                    </option>
                    <option value="swim" selected="{{#if isDay4Swim}}selected{{/if}}">Natation
                    </option>
                    <option value="endr" selected="{{#if isDay4Endr}}selected{{/if}}">Enduro
                    </option>
                    <option value="othr" selected="{{#if isDay4Othr}}selected{{/if}}">Autre</option>
                  </select>
                </div>
                <div class="input-field">
                  <textarea id="day_4_desc" class="materialize-textarea">{{friday_desc}}</textarea>
                  <label class="active" for="day_4_desc">Description</label>
                </div>
              </form>
            </div>
            <div class="col s12 m6">
              <form action="#">
                <p class="range-field">
                  Durée : {{day4Duration}}
                  <input type="range" id="day_4_duration" min="1" max="600"
                         value="{{fridayMinDuration}}"/>
                </p>
              </form>
              <div class="input-field">
                                <textarea id="day_4_comments"
                                          class="materialize-textarea">{{friday_comments}}</textarea>
                <label class="active" for="day_4_comments">Commentaires éventuels</label>
              </div>
            </div>
          </div>
        {{/if}}
        {{#if isDay4Rc}}
          <div class="row">
            <div class="col s12 m6">
              <form class="">
                <div class="input-field">
                  <select class="browser-default" id="day_4_support">
                    <option value="" disabled>Support...</option>
                    <option value="mtb" selected="{{#if isDay4Mtb}}selected{{/if}}">VTT</option>
                    <option value="road" selected="{{#if isDay4Road}}selected{{/if}}">Route</option>
                    <option value="run" selected="{{#if isDay4Run}}selected{{/if}}">Course à pied
                    </option>
                    <option value="skix" selected="{{#if isDay4Skix}}selected{{/if}}">Ski de fond
                    </option>
                    <option value="swim" selected="{{#if isDay4Swim}}selected{{/if}}">Natation
                    </option>
                    <option value="endr" selected="{{#if isDay4Endr}}selected{{/if}}">Enduro
                    </option>
                    <option value="othr" selected="{{#if isDay4Othr}}selected{{/if}}">Autre</option>
                  </select>
                </div>
                <div class="input-field">
                  <textarea id="day_4_desc" class="materialize-textarea">{{friday_desc}}</textarea>
                  <label class="active" for="day_4_desc">Description</label>
                </div>
              </form>
            </div>
          </div>
        {{/if}}
      </div>


      <div id="day_5" class="day hidden">
        <div class="row">
          <div class="col s12 m4">
            <form class="">
              <div class="input-field">
                <select class="browser-default" id="day_5_type">
                  <option value="" disabled>Type...</option>
                  <option value="wk" selected="{{#if isDay5Wk}}selected{{/if}}">Entrainement</option>
                  <option value="rc" selected="{{#if isDay5Rc}}selected{{/if}}">Compétition</option>
                  <option value="nth" selected="{{#if isDay5Nth}}selected{{/if}}">Repos</option>
                </select>
              </div>
            </form>
          </div>
        </div>
        {{#if isDay5Wk}}
          <div class="row">
            <div class="col s12 m6">
              <form class="">
                <div class="input-field">
                  <select class="browser-default" id="day_5_support">
                    <option value="" disabled>Support...</option>
                    <option value="mtb" selected="{{#if isDay5Mtb}}selected{{/if}}">VTT</option>
                    <option value="road" selected="{{#if isDay5Road}}selected{{/if}}">Route</option>
                    <option value="ht" selected="{{#if isDay5Ht}}selected{{/if}}">Home Trainer
                    </option>
                    <option value="run" selected="{{#if isDay5Run}}selected{{/if}}">Course à pied
                    </option>
                    <option value="skix" selected="{{#if isDay5Skix}}selected{{/if}}">Ski de fond
                    </option>
                    <option value="swim" selected="{{#if isDay5Swim}}selected{{/if}}">Natation
                    </option>
                    <option value="endr" selected="{{#if isDay5Endr}}selected{{/if}}">Enduro
                    </option>
                    <option value="othr" selected="{{#if isDay5Othr}}selected{{/if}}">Autre</option>
                  </select>
                </div>
                <div class="input-field">
                  <textarea id="day_5_desc" class="materialize-textarea">{{saturday_desc}}</textarea>
                  <label class="active" for="day_5_desc">Description</label>
                </div>
              </form>
            </div>
            <div class="col s12 m6">
              <form action="#">
                <p class="range-field">
                  Durée : {{day5Duration}}
                  <input type="range" id="day_5_duration" min="1" max="600"
                         value="{{saturdayMinDuration}}"/>
                </p>
              </form>
              <div class="input-field">
                                <textarea id="day_5_comments"
                                          class="materialize-textarea">{{saturday_comments}}</textarea>
                <label class="active" for="day_5_comments">Commentaires éventuels</label>
              </div>
            </div>
          </div>
        {{/if}}
        {{#if isDay5Rc}}
          <div class="row">
            <div class="col s12 m6">
              <form class="">
                <div class="input-field">
                  <select class="browser-default" id="day_5_support">
                    <option value="" disabled>Support...</option>
                    <option value="mtb" selected="{{#if isDay5Mtb}}selected{{/if}}">VTT</option>
                    <option value="road" selected="{{#if isDay5Road}}selected{{/if}}">Route</option>
                    <option value="run" selected="{{#if isDay5Run}}selected{{/if}}">Course à pied
                    </option>
                    <option value="skix" selected="{{#if isDay5Skix}}selected{{/if}}">Ski de fond
                    </option>
                    <option value="swim" selected="{{#if isDay5Swim}}selected{{/if}}">Natation
                    </option>
                    <option value="endr" selected="{{#if isDay5Endr}}selected{{/if}}">Enduro
                    </option>
                    <option value="othr" selected="{{#if isDay5Othr}}selected{{/if}}">Autre</option>
                  </select>
                </div>
                <div class="input-field">
                  <textarea id="day_5_desc" class="materialize-textarea">{{saturday_desc}}</textarea>
                  <label class="active" for="day_5_desc">Description</label>
                </div>
              </form>
            </div>
          </div>
        {{/if}}
      </div>


      <div id="day_6" class="day hidden">
        <div class="row">
          <div class="col s12 m4">
            <form class="">
              <div class="input-field">
                <select class="browser-default" id="day_6_type">
                  <option value="" disabled>Type...</option>
                  <option value="wk" selected="{{#if isDay6Wk}}selected{{/if}}">Entrainement</option>
                  <option value="rc" selected="{{#if isDay6Rc}}selected{{/if}}">Compétition</option>
                  <option value="nth" selected="{{#if isDay6Nth}}selected{{/if}}">Repos</option>
                </select>
              </div>
            </form>
          </div>
        </div>
        {{#if isDay6Wk}}
          <div class="row">
            <div class="col s12 m6">
              <form class="">
                <div class="input-field">
                  <select class="browser-default" id="day_6_support">
                    <option value="" disabled>Support...</option>
                    <option value="mtb" selected="{{#if isDay6Mtb}}selected{{/if}}">VTT</option>
                    <option value="road" selected="{{#if isDay6Road}}selected{{/if}}">Route</option>
                    <option value="ht" selected="{{#if isDay6Ht}}selected{{/if}}">Home Trainer
                    </option>
                    <option value="run" selected="{{#if isDay6Run}}selected{{/if}}">Course à pied
                    </option>
                    <option value="skix" selected="{{#if isDay6Skix}}selected{{/if}}">Ski de fond
                    </option>
                    <option value="swim" selected="{{#if isDay6Swim}}selected{{/if}}">Natation
                    </option>
                    <option value="endr" selected="{{#if isDay6Endr}}selected{{/if}}">Enduro
                    </option>
                    <option value="othr" selected="{{#if isDay6Othr}}selected{{/if}}">Autre</option>
                  </select>
                </div>
                <div class="input-field">
                  <textarea id="day_6_desc" class="materialize-textarea">{{sunday_desc}}</textarea>
                  <label class="active" for="day_6_desc">Description</label>
                </div>
              </form>
            </div>
            <div class="col s12 m6">
              <form action="#">
                <p class="range-field">
                  Durée : {{day6Duration}}
                  <input type="range" id="day_6_duration" min="1" max="600"
                         value="{{sundayMinDuration}}"/>
                </p>
              </form>
              <div class="input-field">
                                <textarea id="day_6_comments"
                                          class="materialize-textarea">{{sunday_comments}}</textarea>
                <label class="active" for="day_6_comments">Commentaires éventuels</label>
              </div>
            </div>
          </div>
        {{/if}}
        {{#if isDay6Rc}}
          <div class="row">
            <div class="col s12 m6">
              <form class="">
                <div class="input-field">
                  <select class="browser-default" id="day_6_support">
                    <option value="" disabled>Support...</option>
                    <option value="mtb" selected="{{#if isDay6Mtb}}selected{{/if}}">VTT</option>
                    <option value="road" selected="{{#if isDay6Road}}selected{{/if}}">Route</option>
                    <option value="run" selected="{{#if isDay6Run}}selected{{/if}}">Course à pied
                    </option>
                    <option value="skix" selected="{{#if isDay6Skix}}selected{{/if}}">Ski de fond
                    </option>
                    <option value="swim" selected="{{#if isDay6Swim}}selected{{/if}}">Natation
                    </option>
                    <option value="endr" selected="{{#if isDay6Endr}}selected{{/if}}">Enduro
                    </option>
                    <option value="othr" selected="{{#if isDay6Othr}}selected{{/if}}">Autre</option>
                  </select>
                </div>
                <div class="input-field">
                  <textarea id="day_6_desc" class="materialize-textarea">{{sunday_desc}}</textarea>
                  <label class="active" for="day_6_desc">Description</label>
                </div>

              </form>
            </div>
          </div>
        {{/if}}
      </div>


    </div>
    <div class="modal-footer">
      <a id="n_pl_submit" class=" modal-action modal-close waves-effect waves-cyan pink-text btn-flat">Modifier</a>
      <a class=" modal-action modal-close waves-effect waves-cyan btn-flat">Annuler</a>

    </div>
  </div>


  <div id="delete_plan" class="modal">
    <div class="modal-content">
      <h4>Voulez-vous vraiment supprimer ce plan ?</h4>
      <p>CETTE ACTION EST IRREVERSIBLE ET SUPPRIMERA LE PLAN <span class="plid">{{_id}}</span></p>
    </div>
    <div class="modal-footer">
      <a class=" modal-action modal-close waves-effect waves-green btn-flat">Annuler</a>
      <a id="delete_btn"
         class=" modal-action modal-close waves-effect waves-red btn-flat red-text">Supprimer</a>
    </div>
  </div>


  <script type="text/javascript">

    $(document).ready(function () {
      $('.modal-trigger').leanModal();
    });
    $('.datepicker').pickadate({
      selectMonths: true,
      selectYears: 15
    });

    function setThisDay(n) {
      var days = $('.day');
      days.removeClass("hidden");
      days.addClass("hidden");
      $('#day_' + n).removeClass("hidden");
      var menu_days = $('#menu_day li');
      menu_days.removeClass("active");
      menu_days.addClass("waves-effect");
      $('#menu_day_' + n).removeClass("waves-effect");
      $('#menu_day_' + n).addClass("active");
    }
  </script>
</template>
