<template name="MyAthletes">


    {{#if currentUser}}
    <ul class="collection with-header">
        <li class="collection-header"><h5>Mes athletes</h5></li>
        {{#each athletes}}
        <li class="collection-item"><div>{{username}}<a href="#!" class="secondary-content rmv_athlete_button"><i class="material-icons">delete</i></a></div></li>
        {{/each}}
      </ul>
    <ul class="collection with-header">
        <li class="collection-header"><h5>Ajouter d'autres athletes</h5></li>
        {{#each otherathletes}}
        <li class="collection-item"><div>{{username}}<a class="secondary-content add_athlete_button" ><i class="material-icons">add</i></a></div></li>
        {{/each}}
      </ul>
    {{/if}}


  <script type="text/javascript">

 $(".button-collapse").sideNav();
  $(document).ready(function(){
    $('.modal-trigger').leanModal();
  });
    $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15 // Creates a dropdown of 15 years to control year
  });
        $(document).ready(function(){
    $('ul.tabs').tabs();
  });

    </script>
</template>
