<template name="Nav">
  <header>
      <ul id="slide-out" class="side-nav">
    <li class="side_item"><a href="/">Dashboard</a></li>
    <li><a href="/workouts">Entrainements</a></li>
    <li><a href="/plans">Plans</a></li>
    {{#if trainerIs}}
          <li><a href="/athletes">Mes athletes</a></li>
    {{else}}
          <li><a href="/trainer">Mon entraineur</a></li>
    {{/if}}
  </ul>
        <ul id="slide-out-notif" class="side-nav">
     <h4 class="center">Notifications</h4>
    {{#if notificationsAreHere}}
        <a class="clear_notifs btn-flat waves-effect"><i class="material-icons left">done_all</i>marquer comme lues</a>        
    {{/if}}
     {{#each notificationsNotRead}}
            {{> Notification}}
    {{/each}}
  </ul>
       <div class="navbar-fixed">
          <nav>
    <div class="nav-wrapper blue-grey darken-2 ">
      <a href="#" data-activates="slide-out" class="button-collapse left show-on-large"><i class="material-icons">menu </i></a>
        <span id="place" data-activates="slide-out" class="button-collapse valign">{{page}}</span>
        <a class="brand-logo center hide-on-small-only">Sumrise</a>
      <ul class="" id="nav-mobile">
          
        <li id="home" class="">
            <a  data-activates='dropdown_user' href="/"><i class="material-icons">dashboard</i></a>
          </li>
          <li id="user_bar" class="dropdown-button" data-activates='dropdown_notifications'>
            <a  data-activates='slide-out-notif' class="notif-trigger"><i class="material-icons">{{#if notificationsAreHere}}notifications_active{{else}}notifications{{/if}}</i></a>
          </li>
          <li id="user_bar" class="dropdown-button" data-activates='dropdown_user'>
            <a  data-activates='dropdown_user'><i class="material-icons">account_circle</i></a>
          </li>
      </ul>
    
    </div>
    
  </nav>
      </div>
</header>
    <ul id='dropdown_user' class='dropdown-content'>
    <li><a href="#!" class="bold grey-text flow-text">{{currentUser.username}}</a></li>
    <li><a href="#!">Paramètres du compte</a></li>
    <li><a id="logout_button">Déconnexion</a></li>
  </ul>
    
        <script type="text/javascript">
    
   $('.button-collapse').sideNav({
      closeOnClick: true
    }
  );

  $('.dropdown-button').dropdown({
      inDuration: 300,
      outDuration: 225,
      constrain_width: false, // Does not change width of dropdown to that of the activator
      hover: false, // Activate on hover
      gutter: 0, // Spacing from edge
      belowOrigin: true // Displays dropdown below the button
    }
  );
         $('.notif-trigger').sideNav({
      edge: 'right', // Choose the horizontal origin
       menuWidth: 300
    }
  );
      
    </script>
   
</template>