#top_bar {
    z-index: 999;
    background: rgba(0, 0, 0, 0);
    transition: all 0.5s;
}

@media screen and (max-width:600px) {
    #top_bar {
        height: 45px;
    }
}

#title {
    font-weight: 300;
}
