<template name="SignupForm">
    <form id="register-form" class="center-align" style="padding:0px 10px; padding-top:10px;">
        <div class="row">
            <div class="input-field col s12">
                <input id="account_username" type="text">
                <label for="account_username">Nom d'utilisateur</label>
            </div>
            <div class="input-field col s12">
                <input id="account_email" type="text">
                <label for="account_email">Mail</label>
            </div>
            <div class="input-field col s12">
                <input id="account_password" type="password">
                <label for="account_password">Mot de passe</label>
            </div>
            <p class="col s6">
                <input name="group1" type="radio" checked="true" class="with-gap" id="athlete_radio"/>
                <label for="athlete_radio">Sportif</label>
            </p>
            <p class="col s6">
                <input name="group1" type="radio" class="with-gap" id="trainer_radio"/>
                <label for="trainer_radio">Entraineur</label>
            </p>
            <div class="input-field col s12 ">
                <a class="btn pink col s12 waves-effect" id="signup_button">Créer un compte</a>
            </div>
        </div>

    </form>
    <p><img src="/strava_connect.png" alt="" class="strava"></p>
</template>
