<template name="Settings">
  {{> Nav page="Paramètres" color="blue-grey"}}
  <div id="side_nav" class="hide-on-small-only">
      <ul class="hide-on-med-and-down">
          {{> SideNav dashboard=false workouts=false plans=false calendar=false
          analysis=false settings=true}}
      </ul>
  </div>
  <div class="row" style="padding-top:90px">
    <div class="col l2 hide-on-med-and-down "><h5></h5></div>
    <div class="col l10 s12 m12 scroll ">
        <div class="dash_container">
            <div class="row">
                <div class="card" style="padding:10px;z-index:99">
                    <div class="row">
                        <div class="col s12">
                            <h4>Paramètres</h4>
                            {{#if isTrainer}}
                                {{> MyAthletes}}
                            {{else}}
                                {{> MyTrainer}}
                            {{/if}}
                            <br><br>
                            <h5>A propos</h5>
                            <p>Application créée par Pierre Jacquier. Tous droits réservés.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</template>
