<template name="Events">
    <div class="col s12">
        <a class="btn-flat waves-effect primary_txt modal-trigger" href="#add_event"><i
                class="material-icons left">add</i> Ajouter</a>

        <div class="card" style="padding:10px;z-index:99">
            <table class="highlight" style="padding: 15px">
                <thead>
                <tr>
                    <th data-field="title">Titre</th>
                    <th data-field="comments">Commentaires</th>
                    <th data-field="date">Date</th>
                    <th data-field="actions">Actions</th>
                </tr>
                </thead>
                <tbody>
                {{#each events}}
                    {{> EventTableLine id=_id title=title comments=comments date=date }}
                {{/each}}
                {{#if isNoEvt}}
                    <p>Pas d'événements enregistrés.</p>
                {{/if}}
                </tbody>
            </table>
        </div>
    </div>

    <div id="add_event" class="modal modal-fixed-footer">
        <div class="modal-content">
            <div class="row">
                <div class="col s12">
                    <h4>Ajouter un évènement</h4>
                </div>
                <form class="">
                    <div class="row">
                        <div class="input-field col s12 m6">
                            <input id="e_title" type="text">
                            <label for="e_title">Titre</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <input type="date" id="e_date" class="datepicker" placeholder="Date">
                        </div>
                        <div class="input-field col s12 m6">
                                        <textarea id="e_description"
                                                  class="materialize-textarea"></textarea>
                            <label for="e_description">Description</label>
                        </div>
                        <div class="input-field col s12 m6">
                                        <textarea id="e_comments"
                                                  class="materialize-textarea"></textarea>
                            <label for="e_comments">Commentaires éventuels</label>
                        </div>
                    </div>
                </form>
                <p>
                    <input class="with-gap" name="group3" type="radio" id="e_first_class_event" checked />
                    <label for="e_first_class_event">Objectif principal</label>
                </p>
                <p>
                    <input class="with-gap" name="group3" type="radio" id="e_second_class_event" />
                    <label for="e_second_class_event">Objectif secondaire</label>
                </p>
                <p>
                    <input class="with-gap" name="group3" type="radio" id="e_preparation_event" />
                    <label for="e_preparation_event">Préparation</label>
                </p>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" id="e_submit"
               class=" modal-action modal-close waves-effect waves-cyan accent_txt btn-flat">Ajouter</a>
            <a href="#!" class=" modal-action modal-close waves-effect waves-cyan btn-flat">Annuler</a>

        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.modal-trigger').leanModal();
            $('.tooltipped').tooltip({delay: 50});
        });
        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15 // Creates a dropdown of 15 years to control year
        });
    </script>
</template>
